/* all devices style
---------------------------------------*/
@import "compass";

/*components*/
.iconPlus {
  background-image: inline-image("icon_plus.png");
  @include inline-block();
}

.iconDelete {
  background-image: inline-image("icon_delete.png");
  @include inline-block();
}

/*layout*/
body {
  background-color: #f1f1f1;
  color: #556677;
  font-size: 14px;
}

.header {
  background-color: #fff;
  border-bottom: solid 1px #778899;
  padding: 4px 0 6px;
  @include pie-clearfix();
  .in {
    @include pie-clearfix();
  }
  .logo {
    float: left;
    width: 98px;
    position: relative;
    font-size: 10px;
    padding-top: 5px;
    &:after {
      content: "";
      position: absolute;
      top: 5px;
      left: 0;
      width: 98px;
      height: 20px;
      @include background-size(98px 20px);
      background-image: inline-image("logo.png");
      @include inline-block();
    }
  }
  .description {
    font-weight: bold;
    color: #868686;
  }
  .openMemo {
    font-size: 18px;
    color: #0099cc;
    float: right;
    cursor: pointer;
    .iconPlus {
      width: 18px;
      height: 18px;
      @include background-size(18px 18px);
    }
    b {
      @include inline-block();
      margin: 3px 0 0 3px;
      font-weight: normal;
    }
  }
}

.filterMemo {
  margin: 15px 0;
  @include pie-clearfix();
}

.content {
  position: relative;
  @include pie-clearfix();
}

.memoDisplayArea {
  li {
    background-color: #fff;
    border: solid 2px #e6e6e6;
    position: relative;
    padding: 10px 15px;
    margin-bottom: 10px;
    @include box-sizing(border-box);
    @include border-radius(4px);
    &:last-child {
      margin-bottom: 0;
    }
    .text {
      color: #334455;
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 10px;
    }
    .iconDelete {
      position: absolute;
      top: 5px;
      right: 5px;
      width: 20px;
      height: 20px;
      @include background-size(20px 20px);
      cursor: pointer;
    }
    time {
      font-size: 12px;
      color: #999;
    }
  }
}


