/* pc style
---------------------------------------*/
@import "compass";

@media screen and (min-width: 569px){
  /*components*/
  .in {
    width: 830px;
    margin-left: auto;
    margin-right: auto;
  }

  /*layout*/
  .header {
    .description {
      font-size: 12px;
      float: left;
      margin: 11px 0 0 8px;
    }
    .openMemo {
      padding-top: 8px;
    }
  }
  .filterArea {
    margin-top: 55px;
    margin-bottom: 13px;
  }
  .filterMemo {
    float: right;
    @include pie-clearfix();
    li {
      float: left;
      margin-right: 22px;
      position: relative;
      cursor: pointer;
      &:after {
        content: "|";
        position: absolute;
        top: -1px;
        right: -13px;
        color: #556677;
      }
      &:last-child {
        margin-right: 0;
        &:after {
          content: '';
        }
      }
      &.cur {
        color: #ccc;
        cursor: default;
      }
    }
  }
  .insertArea {
    .textInput {
      width: 278px;
    }
    .checkInput {
      margin-left: 10px;
    }
    .checkCell {
      text-align: left !important;
    }
    .btnCell {
      text-align: right !important;
    }
  }
  .memoDisplayArea {
    position: absolute;
    top: 0;
    left: 350px;
    li {
      width: 480px;
      p {
        width: 400px;
      }
    }
  }
  .modal {
    top: 40px;
    left: 0;
  }
}