/* sp style
---------------------------------------*/
@import "compass";

@media screen and (max-width: 568px) {
  .header {
    .in {
      padding: 2px 10px 4px;
    }
    .description {
      display: none;
    }
    .openMemo {
      padding-top: 4px;
      b {
        margin-top: 0;
      }
    }
  }
  .filterArea {
    margin-top: 57px;
    margin-bottom: 15px;
    padding: 0 10px;
  }
  .filterMemo {
    border: solid 1px #778899;
    @include border-radius(4px);
    @include box-sizing(border-box);
    display: table;
    width: 100%;
    li {
      display: table-cell;
      background-color: #f1f1f1;
      border-right: solid 2px #778899;
      text-align: center;
      padding: 7px 0 7px;;
      width: 33.3333333333333333%;
      @include box-sizing(border-box);
      &:first-child {
        @include border-radius(4px 0 0 4px);
      }
      &:last-child {
        border-right: none;
        @include border-radius(0 4px 4px 0);
      }
      &.cur,
      &.tapped {
        background-color: #fff;
      }
    }
  }
  .insertArea {
    display: none;
  }
  .memoDisplayArea {
    margin: 15px 10px;
  }
  .modal {
    top: 40px;
    left: 0;
    .insertArea {
      display: block;
    }
  }
}